{"openapi":"3.0.3","info":{"title":"PickForMe Catalog API","version":"1.0.0","description":"Catalogo prodotti Amazon curato da PickForMe. Dati JSON statici, aggiornati ad ogni deploy."},"servers":[{"url":"https://www.pickforme.it","description":"Production"}],"paths":{"/api/catalog.json":{"get":{"operationId":"getCatalog","summary":"Elenco completo dei prodotti","responses":{"200":{"description":"Catalog JSON","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Catalog"}}}}}}},"/api/verticals.json":{"get":{"operationId":"getVerticals","summary":"Elenco categorie","responses":{"200":{"description":"Verticals JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}}},"components":{"schemas":{"Catalog":{"type":"object","properties":{"version":{"type":"integer"},"generatedAt":{"type":"string"},"site":{"type":"string"},"count":{"type":"integer"},"products":{"type":"array","items":{"$ref":"#/components/schemas/Product"}}}},"Product":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"brand":{"type":"string","nullable":true},"category":{"type":"string"},"url":{"type":"string","format":"uri"},"amazonUrl":{"type":"string","nullable":true},"asin":{"type":"string","nullable":true},"ean":{"type":"string","nullable":true},"price":{"type":"number"},"priceCurrency":{"type":"string"},"pricingAsOf":{"type":"string","nullable":true},"savingsPct":{"type":"integer"},"unavailable":{"type":"boolean"},"rating":{"type":"number","nullable":true},"reviewCount":{"type":"integer","nullable":true},"quality":{"type":"number","nullable":true},"tagline":{"type":"string"},"summary":{"type":"string"},"buyIf":{"type":"string"},"avoidIf":{"type":"string"},"pros":{"type":"array","items":{"type":"string"}},"image":{"type":"string","nullable":true}}}}}}